doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Thiago Figueiredo Rocha, Product Designer • Santa Catarina, Brazil
        meta(name="author", content="@figueiredo")
        meta(name="keywords", content="product designer, ux designer, ux designer brazil, ui designer, ui designer brazil, brazilian designer, mobile designer, ux mobile designer, ui mobile designer, ios designer, android designer")
        meta(name="description", content="Since 2006, I'm designing and building digital products for different screens and customers. From Santa Catarina, Brazil.")
        meta(name="robots", content="nofollow")

        // CSS
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700")
        link(rel="stylesheet", href="src/css/main.css")

    body
        #container
            h1 Hello,
            p Since 2006, I'm designing and building digital products for different screens and customers.
            p
            | Currently, I’m a 
            strong Product Designer
            |  at 
            a(href="http://ignusdigital.com", target="_blank", title="Ignus Digital") Ignus Digital
            | , previously at Movile and CI&T.
            p Feel free to contact me anytime, in everywhere…

            // Social Links
            ul
                li
                    span.emoji 📃
                    a(href="http://linkedin.com/in/hellothito", target="_blank", title="LinkedIn") @linkedin
                li
                    span.emoji 🐦
                    a(href="http://twitter.com/figueiredo", target="_blank", title="Twitter") @twitter
                li
                    span.emoji 🖼
                    a(href="http://dribbble.com/figueiredo", target="_blank", title="Dribbble") @dribbble
                li
                    span.emoji 🎨
                    a(href="http://behance.net/figueiredo", target="_blank", title="Behance") @behance
                li
                    span.emoji 🎧
                    a(href="http://open.spotify.com/user/figrocha", target="_blank", title="Spotify") @spotify

            // Footer
            footer
                p Doing what I ❤️ since 2006.

        // Global site tag (gtag.js) - Google Analytics
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-3250810-10", async="")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-3250810-10');